ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}
a.active {
  background-color: #04aa6d;
}
div.Welcome {
  height: 550px;
  background-image: url(images/images.jpg);
  opacity: 0.8;
}
div.Welcome h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}
