body {
  height: 100%;
}
.middle {
  min-height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li.title {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: cursive;
  font-weight: 1000;
  font-style: italic;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
}
a.active {
  background-color: blue;
}
img {
  width: 200px;
  height: auto;
}

th {
  background-color: bisque;
  border-color: black;
  border-width: 6px;
}

.middle .title h1 {
  font-family: arial;
  font-size: 60px;
  color: tomato;
  padding: 0px;
  text-shadow: 3px 3px 5px black;
  position: absolute;
  top: 40%;
  left: 45%;
}

.middle .title {
  background-image: url(images/chopping\ board.jpg);
  height: 600px;
  background-size: cover;
  position: relative;
}

header {
  background-color: rgb(115, 175, 196);
  position: sticky;
  top: 0px;
  height: 80px;
}

.left {
  text-align: left;
}

th {
  border-style: solid;
  border-width: 5px;
  border-color: lightcoral;
}

.topbar {
  position: sticky;
  top: 0px;
}

/*Footer*/
.footer {
  background-color: #303036;
  color: #d3d3d3;
  height: 350px;
  position: relative;
}

.footer .footer-content {
  height: 350px;
  display: flex;
  margin-left: 100px;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-bottom {
  background-color: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.footer .footer-content .contact-information .socials a {
  color: cornflowerblue;
  border: 1px solid gray;
  width: 45px;
  height: 33px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all 0.3s;
}

.footer .footer-content .contact-information .socials a:hover {
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}

.footer .footer-content h1,
.footer .footer-content h2 {
  color: red;
}

.footer .footer-content .about h1 span {
  color: yellow;
}

.footer .footer-content .contact-information .contact span {
  display: block;
  font-size: 1.1em;
}
table {
  width: 700px;
  height: 700px;
  margin-bottom: 50px;
  margin-top: 50px;
}
img:hover {
  transform: scale(2.5);
  transition: 0.3s;
  margin: 10%;
}
img {
  transition: 0.3s;
}
